
.horizontal-slider-root {
  width: 100%;
}

.scroll-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0;
  margin-bottom: 14px; 
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.controls-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

.arrow-button {
  flex-shrink: 0; 
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-button img {
  width: 36px;
  height: 36px;
}

.progress-bar-container {      
  height: 2px;
  background-color: #eee;
  border-radius: 1px;
  overflow: hidden;
  margin: 45px 10px;
  position: relative;
  width: 30vW;
}

.progress-bar-fill {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  height: 100%;
  background-color: #333;
  border-radius: 1px;
  transition: left 0.20s, width 0.20s;
}