.footer {
  width: 100%;
  bottom : 0;
  background-color: #F6F6F6;
  height: 6rem;
  display: flex;             
  align-items: center;         
  justify-content: center;
}

.footer-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img{
  width: 15rem;
}