.login-header{
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
}

.auth-header {
  position: relative;
  width: 206.74px;
  height: 54.43px;
  background: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
  font-size: 19.95px;
  margin-bottom: 24px;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
}

.auth-header::after {
  content: "";
  position: absolute;
  bottom: -13.78px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 13.78px 13.78px 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.social-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.social-btn {
  width: 91.25px;
  height: 91.25px;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.kakao-btn {
  background-color: #fee500;
}

.google-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-btn {
  width: 440.64px;
  height: 84.83px;
  background-color: #2979ff;
  color: #fff;
  font-size: 26.6px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 12px;
}

.email-btn:hover {
  background-color: #1c6fff;
}

.login-btn {
  width: 440.64px;
  height: 84.83px;
  background-color: #fff;
  color: #333;
  font-size: 26.6px;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:hover {
  background-color: #f7f7f788;
}

.find-link {
  font-size: 14px;
  color: #555;
  text-decoration: underline;
}

.find-link:hover {
  text-decoration: underline;
  font-weight: 500;
}
