.main-container {
    background-color: white;
    min-height: calc(100vh - 16rem);
}

/* view === 'edit'일 때 적용될 클래스 */
.main-container.edit-mode {
    background-color: white;
}

.nav-bar {
    width: 100%;
    display: flex;
    gap: 10rem;
    background-color: white;
    padding: 3rem 60rem;
}

.nav-bar button {
    border: none;
    cursor: pointer;
    font-size: 2.4rem;
    color: #C1C1C1;
    background-color: white;
}

.nav-bar button:active {
    color: black;
}

.profile-container {
    margin-left: 7rem;
}

.sub-container{
}
