.profile-change-container {
  width: 60rem;
  margin: 0 auto;
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
  font-family: "Noto Sans KR", sans-serif;
}

.section {
  position: relative;
  margin-bottom: 3rem;
}

.label {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.upload-btn {
  background: none;
  border: none;
  color: #307ef1;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nickname-input {
  width: 100%;
  padding: 1rem;
  font-size: 2.4rem;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.password-section {
  display: flex;
  flex-direction: column;
}

.change-btn {
  position: absolute;
  right: 0;
  width: 15rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #0066f9;
  border: 1px solid #ddd;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  right: 0;
  width: 15rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #F02A2A;
  border: 1px solid #ddd;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.submit-btn-wrap {
  text-align: right;
}

.save-btn {
  background-color: #0066f9;
  color: white;
  width: 15rem;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 7rem;
}