.profile-change-container {
  min-height: 51rem;
  width: 60rem;
  margin: 0 auto;
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 4rem;
}

.section {
  position: relative;
  margin-bottom: 3rem;
}

.back-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2rem 2rem 2rem 0;
  margin-left: -6rem;
  display: flex;
  align-items: center;
  color: #333; /* 필요시 색상 조절 */
}

.back-btn:hover {
  color: #2176ff; /* hover 시 색상 강조 (선택사항) */
}

.label {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.upload-btn {
  background: none;
  border: none;
  color: #307ef1;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nickname-input {
  width: 100%;
  padding: 1rem;
  font-size: 2.4rem;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.password-section {
  display: flex;
  flex-direction: column;
}

.change-btn {
  position: absolute;
  right: 0;
  width: 15rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #0066f9;
  border: 1px solid #ddd;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  right: 0;
  width: 15rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #f02a2a;
  border: 1px solid #ddd;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.submit-btn-wrap {
  text-align: right;
}

.save-btn {
  background-color: #0066f9;
  color: white;
  width: 15rem;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 7rem;
}
