/* Profile.css */

.profilecard-container {
    width: 27rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    padding-top: 2rem;
    background-color: #f7f7f7;
    border-radius: 2.5rem;
}

.profile-image {
    width: 8rem;
    height: 8rem;
    font-size: 8rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5rem;
    margin-left: -3.7rem;
}

.nickname p {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 2.2rem;
}

.info-fix button {
    width: 20rem;
    height: 5rem;
    background-color: #0066F9;
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logout-btn button {
    background: none;
    color: #307EF1;
    border: none;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
}